$def with(folder_list)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>相机历史</title>

<script>
    function AutoResize(maxWidth,maxHeight,objImg){
	var img = new Image();
	img.src = objImg.src;
	var hRatio;
	var wRatio;
	var Ratio = 1;
	var w = img.width;
	var h = img.height;
	wRatio = maxWidth / w;
	hRatio = maxHeight / h;
	if (maxWidth ==0 && maxHeight==0){
	Ratio = 1;
	}else if (maxWidth==0){//
	if (hRatio<1) Ratio = hRatio;
	}else if (maxHeight==0){
	if (wRatio<1) Ratio = wRatio;
	}else if (wRatio<1 || hRatio<1){
	Ratio = (wRatio<=hRatio?wRatio:hRatio);
	}
	if (Ratio<1){
	    w = w * Ratio;
	    h = h * Ratio;
	    }
	    objImg.height = h;
	    objImg.width = w;
    }

</script>
</head>

<body>
$if len(folder_list)==0:
    <div style="width:100%">
    <label style="font-size:150%;margin-bottom:0px">无历史图片</label>
    <input type="button" value="返回" style="margin-left:50px" onclick="window.history.back()">
    </div>
$else:
    <div style="width:100%">
    <label style="font-size:150%;margin-bottom:0px">相机 <spam style="font-weight:bold">$folder_list[0][2]</spam> 历史识别图片 (保留30天历史，根据出现人的频率自适应改变保存模式)</label>
    <input type="button" value="返回" style="margin-left:50px" onclick="window.history.back()">
    </div>

    $for index,folder in enumerate(folder_list):
        $ folderDir=folder[0];
        $ picList=folder[1];
        $ date=folderDir[len(folderDir)-8:len(folderDir)];
        $ dateString=date[0:4]+"年"+date[4:6]+"月"+date[6:8]+"日";
        <a href="cam_history_hour.html?camuid=$folder[2]&date=$date">
        <div style="float:left;margin:0px 30px 30px 30px;">
        <div style="background:url('static/images/folder_small.png') no-repeat;width:240px;height:240px;">
        <img alt="" src="static/$folderDir/$picList[len(picList)-1]" style="margin:50px 0 0 25px" onload="AutoResize(200,140,this)"></img>
        </div>

        <div>
        <p style="margin:0px;width:240px;height:25px;font-size:80%" align="center" >$dateString, 共有$len(picList) 张识别图片</p>
        </div>
        </div>
        </a>
</body>
</html>
