
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--<link href='http://fonts.useso.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Jalil Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="static/js/jquery.min.js"> </script>
<script src="static/js/index.js"> </script>
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="static/js/move-top.js"></script>
		<script type="text/javascript" src="static/js/easing.js"></script>
 	<!---- start-smoth-scrolling---->

</head>
<body>
<!--body-->
<div id="home" class="banner">
	 <div class="container">
		 <div class="top-header">
				<div class="logo">
					<a href="index.html"></a>
				</div>
			  <div class="top-menu">
					<span class="menu"> </span>
			  </div>
				<!-- script-for-menu -->
			 <script>

			 </script>
			 <!-- script-for-menu -->
		 </div>
		 <div class="banner-info">
			<h1>WELCOME !</h1>
			<h1></h1>
			<h1></h1>
		   <h1></h1>
<a class="downarrow scroll" href="#service"><span> </span></a>
		 </div>
	 </div>
</div>
<!---->
<div id="service" class="service">
	 <div class="container">
		 <div class="service-head">
		 <h3>SERVICES</h3>
		 <h4>WHAT WE DO?</h4>
		 </div>
		 <div class="service-grids">
			 <div class="col-md-4 service-grid col-md-offset-1" >
             	<a href="calibration.html?subpage=0">
				 <img src="static/images/1.png" alt="" width="100" height="100"/>
				 <h3>CALIBRATION</h3>
				 <h4></h4>
                 </a>
			 </div>
			 <div class="col-md-4 service-grid col-md-offset-2">
             	<a href="mainpage.html">
				 <img src="static/images/2.png" alt=""/>
				 <h3>RANKING</h3>
				 <h4></h4>
                 </a>
			 </div>
		 </div>
	 </div>
</div>
<script src="static/js/jquery.min.js"> </script>
<script src="static/js/responsiveslides.min.js"></script>
 <script>

  </script>
 <link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
<!---->


<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript">

</script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
